//Fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
//Colors
$blue: #572EE5;
$blue-op-dk:  rgba(87, 46, 229, 0.90);
$light-green: #50E3C2;
$violet:  #572EE5;
$white: #FFFFFF;
$dark-white: #F3F5F8;
$light-grey:  #9CAFC3;
$dark-grey: #37383C;
$light-black: #222326;
$black: #000000;